@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap');

:root {
    /* List of colors */
    --purple: #574AE8;
    --gradient-default: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    --white: #ffffff;
    --white-200: #f9f9f9;
    --gray: #717171;
    --gray-dark: #1A202C;

    /* Typography */
    --lexend-deca: "Lexend Deca";
    --inter: "Inter";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5F7;
}


a {
    text-decoration: none;
}

header {
    width: 100%;
    background: var(--gradient-default);
    height: 200px;
}

section {
    width: 300px;
    margin: 0 auto;
    
}

article {
    width: 378px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.c-container {
    width: min(100%, 374px);
    margin: auto;
}



.c-menu__container {
    padding: 48px 0 41px 0px;
    display: flex;
    justify-content: space-between;
}

.c-menu__texts {
    font-family: var(--lexend-deca);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    
}


.c-search {
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.c-search__input {
    border-radius: 5px;
    border: none;
    padding: 12px 0 12px 38px;
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 17px;
    
}

.c-search__input::placeholder {
    color: var(--white);
    opacity:  0.5;
}

.c-search__button {
    position: relative;
    border: none;
    background: none;
}

.c-search__img {
    width: 15.63px;
    position: absolute;
    bottom: 18px;
    transform: translateY(-50%) translateX(53%);
}

/* Estilizando main container*/

.main__container {
    width: min(100%, 374px);
    margin: 50px 20px;
}

/* Estilizando cards*/

.card__container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
}

.card__container:last-child {
    margin-bottom: 0px;
}

.card__container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.card__date {
    font-family: var(--lexend-deca);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--gray);
}

.card__icon-like svg{
    
}

.card__container-content {
    
}

.card__title-content {
    font-family: var(--lexend-deca);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-dark);
    margin-bottom: 9px;
}

.card__text-content {
    font-family: var(--lexend-deca);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: var(--gray);
}

@media screen and (min-width:768px) {

    header {
        background: var(--gradient-default);
        height: 250px;
    } 

    .c-container {
        width: min(100%, 900px);
        margin: auto;
    }

    .c-menu__container {
        padding-bottom: 73px;
    }

    .c-menu__texts {
        font-size: 24px;
        line-height: 30px;
    }

    .c-search {
        width: min(100%, 900px);
    }

    .c-search__input {
        width: min(100%, 900px);
        padding: 22px 0 22px 64px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .c-search__img {
        width: 24px;
        bottom: 22px;
        left: 10px;
    }

    /* Estilizando main container*/

    .main__container {
        display: block;
        width: min(100%, 900px);
        margin: 100px auto;
    }

    /* Estilizando cards*/

    .card__container {
        margin-bottom: 50px;
        padding: 24px;
    }

    .card__date {
        font-size: 16px;
        line-height: 20px;
    }
    
    .card__title-content {
        font-size: 26px;
        line-height: 32px;
    }


    .card__text-content {
        font-size: 18px;
        line-height: 32px;
    }
}